# Local .terraform directories
terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.plan

# Sensitive variable files
*.tfvars
*.tfvars.json

# IDE & OS junk
.DS_Store
.idea/
.vscode/
*.iml

# Lock file (can be committed if you want provider version pinning)
.terraform.lock.hcl

# zip packages
*.zip